<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https:/www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>

    <div th:replace="header :: myHeader"></div>
</head>
<body class="sb-nav-fixed">
    <div th:replace="navbar :: myNavbar"></div>
    <div id="layoutSidenav">
        <div th:replace="sidebar :: mySidebar"></div>
        <!-- Sidebar ends here -->
        <!-- Form starts from here -->
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">

                    <p></p>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Commande n° [[${#numbers.formatInteger(order.orderNum, 4)}]]</li>
                    </ol>

                    <ol th:if="${successMessage != null}" class="breadcrumb alert-success text-success">
                        <li class="breadcrumb-item" th:text="${successMessage}"></li>
                    </ol>

                    <ol th:if="${errorMessage != null}" class="breadcrumb alert-danger text-danger">
                        <li class="breadcrumb-item" th:text="${errorMessage}"></li>
                    </ol>

                    <ol th:if="${orderNumMessage != null}" class="breadcrumb alert-secondary text-black">
                        <li class="breadcrumb-item"><strong th:text="${orderNumMessage}"></strong></li>
                    </ol>

                    <div class="row" hidden>
                        <button class="btn btn-success float-right mb-5" data-toggle="modal" data-target="#CreateOrderLineModal">Show Create Order Line Modal</button>
                    </div>

                    <div class="row mb-5">
                        <input hidden type="text" id="CurrentOrderId" th:value="${order.id}" />
                        <div class="col-md-4 col-12">
                            <div class="card">
                                <div class="card-header">Produit</div>
                                <div class="card-body">

                                    <form id="AddOrderLineForm">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="control-label">Barcode</label>
                                                    <div class="inputGroupContainer">
                                                        <input type="text" class="form-control" id="BarcodeInput" autofocus/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="control-label">Quantité</label>
                                                    <div class="inputGroupContainer">
                                                        <input type="number" step="1" min="1" value="1" class="form-control" id="QuantityInput" required/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-success w-100" onclick="addOrderLine()">+</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 col-12">
                            <div class="card">
                                <div class="card-header">Détails de la commande n° [[${#numbers.formatInteger(order.orderNum, 4)}]]</div>
                                <div class="card-body">
                                    <table>
                                        <tr><td>Date : [[${#temporals.format(order.orderDate, 'dd-MM-yyyy HH:mm')}]]</td></tr>
                                        <tr><td>Identifiant de la commande : #[[${order.id}]]</td></tr>
                                        <tr><td>Numéro de la commande : [[${#numbers.formatInteger(order.orderNum, 4)}]]</td></tr>
                                    </table>

<!--                                    <table class="table table-striped mt-5">-->
<!--                                        <thead>-->
<!--                                            <tr>-->
<!--                                                <th>Produit</th>-->
<!--                                                <th>Qte</th>-->
<!--                                                <th>Prix Unité</th>-->
<!--                                                <th>Total</th>-->
<!--                                                <th scope="col" class="NoPrint">-->
<!--                                                    <button type="button" class="btn btn-sm btn-success" onclick="BtnAdd()">+</button>-->

<!--                                                </th>-->
<!--                                            </tr>-->
<!--                                        </thead>-->

<!--                                        <tbody id="TBody">-->
<!--                                            <tr id="TRow" class="d-none">-->
<!--                                                <td><input type="text" class="form-control" ></td>-->
<!--                                                <td><input type="number" class="form-control text-end" name="qty" onchange="Calc(this);"></td>-->
<!--                                                <td><input type="number" class="form-control text-end" name="rate"  onchange="Calc(this);"></td>-->
<!--                                                <td><input type="number" class="form-control text-end" name="amt" value="0" disabled=""></td>-->
<!--                                                <td class="NoPrint"><button type="button" class="btn btn-sm btn-danger" onclick="BtnDel(this)">X</button></td>-->
<!--                                            </tr>-->
<!--                                        </tbody>-->
<!--                                    </table>-->

                                    <table id="tbl-order" class="table table-striped mt-5">
                                        <thead>
                                            <tr>
                                                <th>Produit</th>
                                                <th>Qté</th>
                                                <th>P/U</th>
                                                <th>Prix</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbl-order-body"></tbody>
                                    </table>
                                    <table class="table">
                                        <tr>
                                            <th><h5>Total TTC</h5></th>
                                            <th><span class="h5" id="OrderTotalAmount"></span><span class="h5"> Dhs</span></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>


            <div th:replace="footer :: myFooter"></div>

        </div>

        <div th:replace="Orders/createOrderLine :: createOrderLineModal"></div>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script th:src="@{/js/scripts.js}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"
        crossorigin="anonymous"></script>
<script th:src="@{/js/datatables-demo.js}"></script>
<script th:src="@{/js/jquery.pos.js}"></script>
<script th:src="@{/js/bootstrap-input-spinner.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script>
    $("input[type='number']").inputSpinner({});
</script>
<script>
  $(document).ready(function(){
      $('#IsHasDiscountCheckbox').change(function(){
          if($(this).is(':checked')){
              $('#DiscountPercentageInputRow').css("display", "block");
              $('#DiscountInput').prop("required", true);
          } else {
              $('#DiscountPercentageInputRow').css("display", "none");
              $('#DiscountInput').prop("required", false);
              $('#DiscountInput').val('');
          }
      });
  });
</script>
<script>
    var orderId = $("#CurrentOrderId").val();

    //View Order Line
    function getall()
    {
        $('#tbl-order').dataTable().fnDestroy();
        $.ajax({
            url:"http://127.0.0.1:8081/api/orders/getOrderLines/"+orderId,
            type: "GET",
            dataType: "JSON",
            success:function(data)
            {
                $("#tbl-order").dataTable({
                    "data": data,
                    "columns": [
                        { data: 'Id' },
                        { data: 'Produit' },
                        { data: 'Qte' },
                        { data: 'Prix' },
                        {
                            data: null,
                            render : function(data, type, full, meta)
                            {
                                return '<button class="btn btn-success">Edit</button>';
                            }
                        },
                        {
                            data: null,
                            render : function(data, type, full, meta)
                            {
                                return '<button class="btn btn-danger">Delete</button>';
                            }
                        }
                    ]
                });
            }
        });
    }

    //Get Order Lines
    function getOrderLines() {
        return $.ajax({
            url:"http://127.0.0.1:8081/api/orders/getOrderLines/"+orderId,
            type: "GET",
            dataType: "JSON"
        });
    }



    //Display Order Lines Table
    function displayOrderLinesTable(orderLines) {
        var tableBody = $('#tbl-order-body');
        tableBody.empty(); // Clear existing table rows
        $.each(orderLines, function(index, orderLine) {
          var row = '<tr>' +
                      '<td>'+ orderLine.productName +' - '+ orderLine.variantName +'</td>' +
                      '<td>' + orderLine.quantity + '</td>' +
                      '<td>' + orderLine.unitPrice + ' Dhs/U</td>' +
                      '<td>' + orderLine.toPayAmount + ' Dhs</td>' +
                      '<td class="float-right">' +
                        '<button class="btn btn-info" data-id="' + orderLine.id + '"><i class="fas fa-pen"><i/></button>' +
                      '</td>' +
                      '<td>' +
                        '<button class="btn btn-danger" data-id="' + orderLine.id + '"><i class="fas fa-trash"><i/></button>' +
                      '</td>' +
                    '</tr>';
          tableBody.append(row); // Append row to table
        });
    }

    //Get Order Details
    function getOrder() {
        return $.ajax({
            url:"http://127.0.0.1:8081/api/orders/getOrder/"+orderId,
            type: "GET",
            dataType: "JSON"
        });
    }

    //Update Order details
    async function updateOrderDetails() {
         try {
          var order = await getOrder();
          var orderTotalAmount = $('#OrderTotalAmount');
          orderTotalAmount.empty();
          orderTotalAmount.append(''+order.totalAmount);
        } catch (error) {
          console.error('Error fetching order lines:', error);
        }
    }

    //Update the table data
    async function updateTableData() {
        try {
          var orderLines = await getOrderLines();
          displayOrderLinesTable(orderLines);
        } catch (error) {
          console.error('Error fetching order lines:', error);
        }
    }

    updateTableData();
    updateOrderDetails();

    //Add Order Line
    function addOrderLine() {
        this.event.preventDefault();
		let barcode = $('#BarcodeInput').val();
		let quantity = $('#QuantityInput').val();
		let orderId = $('#CurrentOrderId').val();

		$.ajax({
			type: "POST",
			url: "http://127.0.0.1:8081/api/orders/createOrderLine?barcode="+barcode+"&orderId="+orderId+"&quantity="+quantity,
			dataType : "json",
			success: function(result){
				updateTableData();
                updateOrderDetails();

                $('#AddOrderLineForm').trigger("reset");
			},
            error: function(error) {
                console.error('Error adding the order line:', error);
            }
		});
    }
</script>
</body>
</html>